[2020-04-21 11:25] henriksultan opened #1 "Bags outside of screen"
My bags wont show, seems to be outside of screen.

[2020-04-21 16:25] class2u opened #2 "Scale & Reset"
Thank you for making this great addon. I love it can save the position and fading out a little while moving. I have two feature requests: Scale the frame (and save the size) and reset frame position and szie.

[2020-04-22 06:45] jaredbwasserman commented on #2
Hi @class2u - thanks for the feedback!  I agree that scaling and resetting would be super useful.  I'm planning to add these features at some point in the future.

[2020-04-22 07:01] jaredbwasserman commented on #1
Hi @henriksultan - thanks for the reporting this issue!  I could use some more information to help me figure out what is going wrong.

Is the issue occurring in retail or classic?

Did the bags stop showing recently, or did they never show up after installing the addon?

Could you attach your "Drift.lua" file located in the "SavedVariables" directory? It should be located in "C:\Program Files (x86

[2020-04-22 10:22] class2u commented on #2
Awesome! Thank you again.

[2020-04-22 12:00] henriksultan commented on #1
o7 Sorry for the lack of information from start!

Retail version and the bags have never showed since installing and activating the addon. Dont have any other addon affecting the bags either. Use to have scrap but its gone, same issue. Tried deactivating Improved Blizzard UI to see if that had something to do with it and so on.
[Drift.zip](https://github.com/jaredbwasserman/Drift/files/4515931/Dri

[2020-04-23 06:17] jaredbwasserman commented on #1
Thanks for the extra information!  I'll look into it when I have some time.

[2020-04-25 22:29] jaredbwasserman commented on #1
I am able to repro the issue.  I'm working on a fix.

[2020-04-30 01:08] jaredbwasserman commented on #1
@henriksultan I pushed a fix for the issue. Can you confirm you are able to see bags now?

[2020-04-30 08:14] henriksultan commented on #1
Working like a charm man :)

[2020-05-01 08:24] #1 closed

[2020-07-12 21:17] jaredbwasserman commented on #2
Scaling frames and resetting frame positions and sizes have both been added. To scale a frame, right-click and drag up or down. To reset frame positions and sizes, use the Reset Frames button in Drift's Interface Options (Game Menu -> Interface -> AddOns tab -> expand the Drift section -> General Options -> Reset Frames button).

[2020-07-12 21:17] #2 closed

[2020-07-15 22:27] webdevdave opened #3 "Feature Request - Movable Bags"
Heya, love the addon but one of the things that I would love to see added are the inventory and bank bags. I don't like to use bag addons, but I do hate the position the bags come up naturally. Do you think you could include bags as part of the movable frames?

Thanks!
Dave

[2020-07-15 22:29] webdevdave commented on #3
Oh and I'm talking about for Retail. Thanks again!

[2020-07-16 07:14] jaredbwasserman commented on #3
Hi @webdevdave - thanks for the suggestion! I definitely agree it would be a great improvement to have movable inventory and bank bags. I actually had this feature in a previous version of the addon (retail and classic), but it caused some nasty Lua errors with the base game's interface code. I took support for moving bags out of the addon to avoid these errors; however, I will definitely consider

[2020-07-16 08:16] webdevdave commented on #3
Would be awesome if you could get it working! I'm currently using an addon called OpenContainer https://www.wowinterface.com/downloads/info12435-OpenContainer.html which seems to work ok (maybe you can peek at its code for ideas?), but it breaks with ElvUI https://ibb.co/sFGNSBC so I actually stopped using ElvUI just because I hate not having movable bags lol. Fingers crossed! 🤞

[2020-07-17 01:39] jaredbwasserman commented on #3
Cool, thanks for the information! I'll take a look at OpenContainer and try to get Drift movable bags working and compatible with ElvUI.

[2020-08-09 08:59] jaredbwasserman commented on #3
Hi @webdevdave - I just added support for movable bags! Can you download the latest version of addon (https://www.curseforge.com/wow/addons/drift) and let me know if it works for you?

I was able to get movable bags working with ElvUI by disabling the ElvUI bag support.
![elvuibags](https://user-images.githubusercontent.com/5832654/89728652-b2df3e80-d9e3-11ea-8d01-71bcf5bf9d87.jpg)

[2020-08-10 23:35] webdevdave commented on #3
Dude! You did it! You're the best! I also love that you can scale frames, I always felt my dressing room window was too small when I wanted to check out transmog stuff... now it's nice and big! Now you just have to promise to keep the addon updated and never abandon it! :) Thanks, man! ❤❤❤😜

[2020-08-11 01:27] #3 closed

[2020-08-11 16:46] webdevdave opened #4 "Open All Bags"
I've got another feature request for you (yay!)... would be great to have options for bags to open automatically when you open your Bank or AH window. Similar to how [OpenContainer](https://www.wowinterface.com/downloads/info12435-OpenContainer.html) does it...
![opencontainer](https://user-images.githubusercontent.com/56913415/89924659-54c37e80-dbd0-11ea-8e07-c0d51814ae55.jpg)

Perhaps not quite

[2020-08-12 00:59] jaredbwasserman commented on #4
Hi Dave, thanks for the suggestion!  This would be a really cool feature; however, I'm not sure it fits in with the rest of the addon. I would prefer to keep the scope of Drift as just allowing frames to move and resize, and this feels like added complexity. Just for my own understanding though, your reason for not using OpenContainer is that it is incompatible with ElvUI, right?

[2020-08-12 20:59] webdevdave commented on #4
Thanks, Jared... I see your point! And yes, for some reason with ElvUI the bags go crazy and stretch all over the place like this...
![bags](https://user-images.githubusercontent.com/56913415/90066991-79952000-dcbc-11ea-8dcf-33a0a2f04db5.jpg)

But in OpenContainer you can disable dragging bags, so I just ended up combining your two addons by disabling the bag dragging in OpenContainer but using it

[2020-08-13 06:15] jaredbwasserman commented on #4
Awesome, I'm glad you were able to find a solution! I'm going to close this out. Thanks, Dave.

[2020-08-13 06:15] #4 closed

[2020-09-12 21:00] fireymerlin opened #5 "Add slash command to reset frames"
Would like a slash command to reset the frames.
This would let me make a macro or ldb to reset them.

[2020-09-13 07:17] jaredbwasserman commented on #5
Hi @fireymerlin - thanks for the suggestion! I agree a slash command to reset the frames would be super useful. I will add it in soon.

[2020-09-15 18:43] Partywagon89 opened #6 "Suggestion, Check boxes"
Enable/Disable options would be nice for JUST Dragging window and/or resizing not both :)

[2020-09-16 07:56] jaredbwasserman commented on #6
Hi @Partywagon89 - thanks for your suggestion!  I agree it would be useful to be able to independently enable/disable dragging and resizing.  I'll consider adding this in the future.

[2020-09-19 20:46] jaredbwasserman commented on #5
I just released a new version of Drift. Please use the slash command "/driftreset" to reset the frames. Thanks!

[2020-09-19 20:46] #5 closed

[2020-09-20 11:24] WybeBosch opened #7 "/driftreset not resetting the frames"
hey there!
In an attempt to fix another issue i came across i attempted to reset all frames saved position
by typing `/driftreset` however when i do that WoW does not recognize the command (And i made sure the addon was loaded)
I also attempted `/drift reset` but neither worked. Is this something that is temporarly broken? or is named a different command? :)

[2020-09-20 12:23] WybeBosch commented on #7
Opening Escape>Interface>Drift>General options>BUTTON: Reset Frames
Does allow me to press the button to reset the frames, so its not the worst thing in the world :D Was just wondering why the commandline wasnt working.

[2020-09-20 13:46] WybeBosch opened #8 "Option to disable drift touching certain elements"
First of all, i love having the drift addon enabled. Being able to quickly move the char screen if its in front of something, or talents is very handy. The only downside I have found so far is that its not working well with my bags.

Having not Moved or dragged or scaled the bags using Drift, it seems Drift still tries to apply some changes to the bags.
I prefer Elvui/Moveanything to handle my bag

[2020-09-20 18:55] jaredbwasserman commented on #7
Hi Wybe, thanks for letting me know about the issue! I have a couple questions to help narrow down the cause.

1) What version of Drift do you have installed? The `/driftreset` command was just added in the most recent version of the addon (1.0.4). If you have anything older installed, the command does not exist. You can check the version by doing Escape->Interface->AddOns->Drift and seeing what n

[2020-09-20 19:11] jaredbwasserman commented on #8
Hi Wybe, thanks for letting me know about the issue! Drift does have code that modifies bags. This is because WoW has code that constantly resets bag positions, so I had to overwrite that behavior in Drift. The code in Drift emulates the original bag placement but allows for moving and scaling individual bags too.

I haven't checked the ElvUI code, but it sounds like ElvUI also rewrote portions of

[2020-09-20 19:14] WybeBosch commented on #7
Oof, i did indeed not check if i had the latest version installed. Sorry that i forgot one of the most basic troubleshooting steps besides turning it on and off again haha!

I had version 1.03 installed, just installed the latest 1.04 and the chat command is now correctly working!! :)
Issue can be closed!

[2020-09-20 19:14] #7 closed

[2020-09-20 19:16] WybeBosch commented on #8
Thanks for the response! Looking forward to the feature being added :)
Much thanks for adding it to the roadmap, i can understand that as a addon creator you don't want to get caught up too much in modifying your addon because of other addons since that can a bit of an endless rabbit hole.

But thanks for looking into it anyways ! :D

[2020-10-14 05:18] jaredbwasserman opened #9 "Opening Bags causes Lua Error (retail)"
Example Lua Error:

[code]

Workaround is to disable Bags. To do this:
1. Go to Game Menu -> Interface -> AddOns -> Drift -> Options
1. Uncheck "Bags Enabled"
1. Click "Okay"

[2020-10-14 05:51] jaredbwasserman commented on #9
This should be fixed by [this commit](https://github.com/jaredbwasserman/Drift/commit/9c057fc0a6c4e07791f113ff3f7f73db4ca2db3b).

I'm publishing a new version of the addon on CurseForge.

[2020-10-14 06:12] jaredbwasserman commented on #9
Update is available on CurseForge, and I confirmed it fixes the bug. Closing.

[2020-10-14 06:12] #9 closed

[2020-10-14 07:16] jaredbwasserman commented on #6
Hi @Partywagon89 - I added independent enable/disable options for moving and scaling, respectively, in the most recent version of Drift. Please download the latest version and go to Game Menu -> Interface -> AddOns -> Drift -> Options to access the new options!

[2020-10-14 07:16] #6 closed

[2020-10-14 07:23] jaredbwasserman commented on #8
Hi Wybe, I added the ability to disable Drift modifying Bags in the most recent version of the addon. Can you please download the latest version of the addon and then do the following:
1. Go to Game Menu -> Interface -> AddOns -> Drift -> Options
1. Uncheck "Bags Enabled"
1. Click "Okay"

This should remove all interactions Drift has with Bags and reload the interface. Once you've done this, can y

[2020-10-14 15:04] WybeBosch commented on #8
Hey there!
I have updated the addon, and indeed see that new option.
After unchecking it I indeed no longer have the option to move the bags with the Drift addon,
and it looks like now its using the Elvui bag location correctly!

Before when I opened the issue it was happening sporadically, basically whenever the Drift addon would load before Elvui,
and so far after the update things are looking g

[2020-10-14 15:04] #8 closed

[2020-10-14 20:03] Galthariel opened #10 "Isn'an Issue of Feature Request but a Question only"
Does Drift saves windows positions/size between sessions? Also it's Account Wide or do I need to do it for every character? Thanks

[2020-10-15 03:00] jaredbwasserman commented on #10
Hi @Galthariel - good questions! Yes, Drift saves window positions and sizes between sessions. After you log out and back in again, the windows will re-open in the positions you left them in with the sizes you adjusted them to. Yes, the window positions and sizes are Account Wide; all characters share the same window positions and sizes.

Please feel free to re-open if you have any more questions!

[2020-10-15 03:00] #10 closed

[2020-10-15 03:13] Galthariel commented on #10
I'm not only good but happy with your replies. Installing it NOW. Thanks a lot :-)

[2020-10-15 22:37] Galthariel opened #11 "How do I scale?"
Hello,

I'm able to move any window and it's indeed saving the position between sessions with the exception of the Achievements Window however it may be because I use Overachiever.

Anyways, in the description says I can also scale the windows but I could not figure out how not even seeing the video.

Thanks in advance,

[2020-10-16 02:01] jaredbwasserman commented on #11
Hi, @Galthariel - I downloaded Overachiever. It looks like Overachiever adds its own movement to the Achievement frame that could be conflicting with Drift.

In order to scale a frame, use the right mouse button and click and drag up or down. Scaling functions similarly to moving, but it uses the right mouse button instead of the left mouse button.

I need to update the demo to include scaling. Th

[2020-10-16 02:01] #11 closed

[2020-10-16 03:55] webdevdave opened #12 "Barber Shop"
Hey buddy, how's one of my favorite addon authors doing?! So I noticed a bug with the new patch that I wanted to make you aware of. When you go to the barbershop, the buttons on the right where you select your attributes, are like shifted down and covering the button to buy/apply the changes. Here's an image with and without Drift turned on:

https://ibb.co/x19Hfr4
https://ibb.co/bJtJPFy

Hope you

[2020-10-16 04:21] jaredbwasserman commented on #12
Hi, Dave! Thanks for letting me know about this bug! I'm starting to look into it.

[2020-10-16 04:29] jaredbwasserman commented on #12
I'm unable to reproduce the bug. I tried with and without Drift, and I tried with and without ElvUI.

Do you have the latest version of Drift and ElvUI downloaded?
Have you tried reloading the interface?
Is this reproduceable on more than one character?
Could you try running "/driftreset" and seeing if that fixes the issue?

Thanks!

[2020-10-16 05:01] Galthariel opened #13 "Now it's an Issue :-)"
Here I am again :-)

Took me a while to find it was Drift since I use a lot of addons (right now only the ones that are updated) but anyways. Found an issue or bug and tested several times before come here.

The issue/bug happens only in the new Barber Shop. The Accept Button (the one you need to click to make the changes) disappears when I have Drift enabled. Tried the /driftreset just in case an

[2020-10-16 05:29] webdevdave commented on #12
When I tried doing "/driftreset" it didn't fix it. But when I went into the addon's options and clicked the actual "Reset Frames" button (where it pops up a confirmation box) that fixed it! So I'm not sure if the slash command it bugged (so maybe I found a different bug?) or maybe it was just a fluke. But either way, all good now... thanks again! :)

[2020-10-16 05:46] jaredbwasserman commented on #12
I was finally able to reproduce the issue. It turns out the "BarberShopFrame" was re-implemented to take up the whole screen in the pre-patch (the same frame only used to occupy a very small space). As a result, right-clicking and dragging anywhere while in the Barber Shop interface caused everything to scale. Once scaled up, the buttons would disappear (since it was essentially zooming in on a pi

[2020-10-16 05:55] jaredbwasserman opened #14 "Add BNToastFrame support"
Add support for BNToastFrame.

[2020-10-16 05:56] jaredbwasserman commented on #13
Hi again, Galthariel! Thank you for reporting this bug! I appreciate you thoroughly testing everything.

I just released a new version of Drift on CurseForge that hopefully fixes the bug. Would you be able to download this update and confirm the Barber Shop works normally for you after the update?

The Bnet Toast frame is not currently supported by Drift, but I can definitely add it in the future!

[2020-10-16 13:52] Galthariel commented on #13
Morning or Night since I don't know where are you :-) Installed the update and the game became literally unplayed...very very slow and had to disable Drift :-(

[2020-10-16 20:16] webdevdave commented on #12
To be honest, once I had everything setup I never used the /driftreset before, so I can't say if it's worked in the past. After doing the reset yesterday all seemed to be working well, but I just updated Drift and hopped into a Barbershop again and all seems to be working well. But if anything else funky goes on I'll be sure to let you know! Thanks for being so responsive btw! 💯

[2020-10-16 20:21] webdevdave commented on #13
Hey @Galthariel I happened to see your question here about the Toast window. I have been using an addon, which is really great, it makes your Toast window extra cool and allows you to position it wherever you'd like... thought you might wanna check it out!

https://www.curseforge.com/wow/addons/ls-toasts

Enjoy!

[2020-10-16 20:45] Galthariel commented on #13
Thanks! I also use that one but it doesn't work with Bnet Toasts just with normal toasts

[2020-10-16 22:17] Galthariel commented on #13
Hello Jared,

After my lag spike this morning when I had to disable Drift I've enable it again by mistake (I use Better Addon List which helps me save Addons Sets and Profiles and I load a previous profile where Drift was enabled) and guess what? The horrible lag did not happened again however I cannot move or even click the Collections Window and as well all the Tabs has no names now. Reloading f

[2020-10-17 01:37] #12 closed

[2020-10-17 01:41] jaredbwasserman commented on #13
Hi, @Galthariel - I'm glad the lag issue is no longer occurring and the Barber Shop is now working! Thanks for letting me know about the Collections window issue. I'll start to look into it.

[2020-10-17 01:49] jaredbwasserman commented on #13
Hi again, @Galthariel - I'm able to move my Collections window. Can you try a couple things to help me narrow down the issue?

1) Can you double check your Drift settings? If you go to Game Menu -> Interface -> AddOns -> Drift -> Options it will display the current Drift settings. Can you let me know if "Lock Frame Movement" is checked?
2) Is just the Collections window unable to move, or are any

[2020-10-17 01:56] Galthariel commented on #13
Both, Lock Frame Movement and Lock Frame Scale are unchecked. I was afraid you're going to ask me to ask me that...I use 490 Addons...and right now I have about 460 enabled since the rest is either not working or causing a lot of issues. Narrow down this is going to take a while. Will keep you posted

[2020-10-17 04:03] Galthariel commented on #13
Update:

Here is what I managed to get with BugSack. I'm not a programmer so I tried to disable PetBattleMaster because it's mentioned below but did not work so I went ahead and uninstall it completely including Saved Variables and also did not work :-(

270x Drift\DriftHelpers.lua:226: Usage: CollectionsJournal:SetPoint("point" [, region or nil] [, "relativePoint"] [, offsetX, offsetY])
[string "

[2020-10-17 04:11] Galthariel commented on #13
What I the error still has references to PetBattleMaster after I completely removed the Addon including all Saved Variables

RestoreWindowPosition = defined @PetBattleMaster\src\main\MovingView.lua:11

[2020-10-17 04:51] jaredbwasserman commented on #13
Thanks for all the information! I went ahead and downloaded PetBattleMaster to test. When I try to log in, I get an immediate Lua error related to PetBattleMaster, and the CollectionsJournal is unable to move. However, once I open more windows, I'm able to move around the CollectionsJournal. I'm unable to reproduce the exact issue you are seeing.

I agree it's odd the variable is still there on Co

[2020-10-17 05:29] Galthariel commented on #13
Oh man...that's something I really not going to do. I mean...reset all my UI...what if I delete teh collections Journal and then repair WoW?

[2020-10-17 05:35] jaredbwasserman commented on #13
The data in these folders gets recreated when WoW starts, so I think it should be OK. if it goes wrong, you can rename folders back to their original names and delete the newly created folders.

[2020-10-17 05:48] Galthariel commented on #13
I'll do that in the morning...Another error that happens from time to time (not always) is that as soon I login I cannot move or do anything with my mouse and if I right click in the screen my character frame starts changing the size showing the scale percentage. A simple reload fixes.

[2020-10-17 17:29] Galthariel commented on #13
Just found a folder called Blizzard_Collections under Interface/Addons which after Google it seems to be a default Blizzard folder. Move it to a Backup folder in the hope the game will recreate a new one. Log into the game and could normally access the Collections Window although the damn bug is still there and guess what? Exit and the game did not created a new Blizzard_Collections folder.

[2020-10-17 18:15] jaredbwasserman commented on #13
Hi, Galthariel, the game will not recreate the Blizzard_Collections or Blizzard_PetJournal folders as far as I know. The folders I was referring to are the ones listed in https://us.battle.net/support/en/article/7549, which are the Cache, Interface, and WTF folders.

Could you try to follow the steps in the article linked in order to reset the WoW User Interface?

Thanks!

[2020-10-18 21:20] ellaqera-7078 opened #15 "Objectives Window"
Hi, is it possible to move with Objectives Window?
prnt.sc/v1w735

[2020-10-19 05:20] jaredbwasserman commented on #15
Hi @ellaqera-7078 - good suggestion! It's not currently possible to move the Objectives Window. I'll consider adding support for it in the future.

[2020-10-19 07:23] jaredbwasserman commented on #13
I'm sorry we were unable to reach a solution. I'm going to close this issue since I'm unable to reproduce the issue.

[2020-10-19 07:23] #13 closed

[2020-10-19 16:06] Daniele-f opened #16 "Collections"
When I open my collections (mounts, pets, toys, etc) I get this error msg every time.
(the initial number keeps going up if I hold it open)

[code]

[2020-10-19 17:25] jaredbwasserman commented on #16
Hi @Daniele-f - thanks for reporting this bug! Can you give me some additional information to help me narrow down the issue?

1. Do you have any other addons that affect the Collections window enabled?
1. How recently did you install Drift?
1. Can you attach your Saved Variables? In order to do this, please attach the `Drift.lua` file which should be in this location: `World of Warcraft/_retail_/W

[2020-10-20 02:19] Galthariel commented on #16
I think it's the same I had and in the end was cause by Better Wardrobe and Transmog. The author fixed in the latest version

[2020-10-20 02:28] Galthariel commented on #14
When and if you decided to do this enhancement please make sure to do the same with the Quick Join Toast 1 and 2. Another that will be cool is called Battleground Score (I think it's the name) since my top bar covers it all the time 👍
Thanks a bunch :-)

[2020-10-20 07:24] jaredbwasserman commented on #14
Hi, Galthariel. I'm not sure which frame you mean by "Battleground Score." Drift already supports both the PVP Scoreboard and the PVP Results frames. Could you attach a screenshot or provide some further clarification about this frame?

Thanks!

[2020-10-20 12:39] Galthariel commented on #14
Hi Jared,

Is the one that stays in the middle and top of the screen with Alliance and Horde Scores (e.g. Battle for Nazjatar). I tried to move the other day and did not let me but I may have done something wrong.

[2020-10-20 23:25] IHardes opened #17 "Feature Request - Garrison Button"
Hey, really nice addon would it be possible to add the Garrison Button to the moveable frames?

Edit: I mean the retail version :)

Thanks
Steven

[2020-10-21 04:46] jaredbwasserman commented on #14
Thanks for the clarification, Galthariel. I think I know which frame you mean. It seems to be called "UIWidgetTopCenterContainerFrame," and this frame is not currently supported by Drift.

Just to double check, I attached a screenshot of the score in Eye of the Storm that seems to be the same frame. Can you confirm?
![battlegroundscore](https://user-images.githubusercontent.com/5832654/96674419-9d

[2020-10-21 04:48] jaredbwasserman commented on #17
Hi, Steven. Thanks for the suggestion! I want to make sure I know the frame you are referring to. Is it the one in the attached screenshot, or is it a different frame?

Thanks!
![garrisonbutton](https://user-images.githubusercontent.com/5832654/96674560-ef9daf00-131d-11eb-98b2-0e0604153db4.jpg)

[2020-10-21 13:05] Galthariel commented on #14
That's the one. I'm sorry for not provide you the screenshot before however I need to be doing PVP to see it. And basically the only PVP I do lately is the Battle for Nazjatar and I have not done yet any this week. Thanks and I'm sorry again

[2020-10-21 13:14] IHardes commented on #17
I mean the button at the Minimap that opens the garrison/order hall menu. I quess its called GarrisonLandingPageMinimapButton.
![image](https://user-images.githubusercontent.com/61800972/96724265-ed843080-13af-11eb-9f9c-4d28cd668482.png).

[2020-10-21 16:56] jaredbwasserman commented on #17
Ah I see, thanks for the clarification!

[2020-10-21 16:56] jaredbwasserman commented on #14
No problem! Thanks for the clarification.

[2020-10-27 01:25] class2u opened #18 "Extra Action Button resets after reload"
Hi, thank you for making this gerat addon. 👍
The Extra Action Button is moveable but it resets position after UI reload. I test with Garrison Ability Button.
I notice that MoveAnything changes the frame name to ExtraAbilityContainer and removes ZoneAbilityFrame as well in new release. Don't know if it helps.

[2020-10-27 02:59] jaredbwasserman commented on #18
Hi, Alex. Thanks for letting me know! The information about MoveAnything is very helpful. I'm working on a fix!

[2020-10-29 00:27] #16 closed

[2020-11-07 23:19] jaredbwasserman commented on #18
Hi again, Alex. This bug should be fixed in the latest version of Drift (1.0.6) that can be downloaded here https://www.curseforge.com/wow/addons/drift. Could you download this new release and confirm the bug is no longer present?

Thanks!

[2020-11-07 23:25] jaredbwasserman commented on #17
Hi, @IHardes - I added support for the Garrison button in the latest version of Drift (1.0.6). Please download it here https://www.curseforge.com/wow/addons/drift. Feel free to reopen this ticket if you run into any issues.

Thanks!

[2020-11-07 23:25] #17 closed

[2020-11-07 23:29] jaredbwasserman commented on #15
Hi @ellaqera-7078 - I added support for the Objectives Window/Objective Tracker in the latest release of Drift (1.0.6) that can be downloaded here https://www.curseforge.com/wow/addons/drift. The Objective Tracker is turned off by default. In order to turn it on, go to Interface -> AddOns -> Drift -> Options, check the "Objective Tracker Enabled" checkbox, and click "Okay". This should reload the

[2020-11-07 23:29] #15 closed

[2020-11-07 23:33] jaredbwasserman commented on #14
Hi @Galthariel - I added support for BNToastFrame and Battleground Score in the latest version of Drift (1.0.6) that can be downloaded here https://www.curseforge.com/wow/addons/drift. I'm not sure if the BNToastFrame covers Quick Join Toast 1 and 2, could you help me confirm if they can be moved? I'm not sure if they are part of that frame or something else.

Thanks!

[2020-11-07 23:49] class2u commented on #18
Yes, I just confirmed that this issue has been fixed. Thank you!

[2020-11-07 23:50] #18 closed

[2020-12-06 18:22] jaredbwasserman commented on #14
I added Quick Join Toast 1 and Quick Join Toast 2 in the latest version of Drift (1.0.7) that can be downloaded here https://www.curseforge.com/wow/addons/drift. Please re-open this ticket if you run into any issues with Battle.net Toast Frame, Quick Join Toast 1 and Quick Join Toast 2, or Battleground Score.

[2020-12-06 18:22] #14 closed

[2020-12-24 22:12] dotdissent opened #19 "Color Picker Interaction Issue"
Attempting to drag the options in the Color Picker windows causes Drift to kick in and start dragging the picker window around.

Before:
![image](https://user-images.githubusercontent.com/17419460/103107299-db6e7a80-460a-11eb-80f7-14ec7524d1e8.png)

After dragging the middle bar down:
![image](https://user-images.githubusercontent.com/17419460/103107318-1a9ccb80-460b-11eb-94f2-8a5eeeb8d8a7.png)

[2020-12-24 23:39] jaredbwasserman commented on #19
Thanks for the bug report! I will work on a fix when I get some time.

[2020-12-28 03:02] dotdissent opened #20 "Adventure Guide Dragging Broke Window"
The Adventure Guide was open and near the center of my screen. I had just navigated back to the Suggested Content page from the Dungeons page, scrolled through the content suggestion on the left with my mouse wheel, then attempted clicking and dragging from the bottom of the window to move it. It immediately went transparent and snapped to the left side of the screen in a higher location. The wind

[2020-12-28 03:53] jaredbwasserman commented on #20
Thank you for the detailed bug report! I will look into this when I get some time.

[2021-01-09 23:34] jaredbwasserman commented on #19
@dotdissent - Are you playing retail WoW or classic WoW? The issue is present in both versions, but it's much easier to fix in retail.

[2021-01-10 01:55] dotdissent commented on #19
Retail!

On Sat, Jan 9, 2021, 6:34 PM Jared Wasserman <notifications@github.com>
wrote:

[2021-01-10 03:16] jaredbwasserman commented on #20
@dotdissent - My guess based on reading through the error message is Drift saved an invalid position for the Adventure Guide, and when Drift tried to reset the Adventure Guide's position, the game threw errors because Drift tried to set the Adventure Guide to an invalid position. I'm not sure what could cause this issue.

Unfortunately, I'm not able to reproduce the issue given the steps above. Yo

[2021-01-17 22:06] jaredbwasserman commented on #19
This bug should be fixed in the latest release of Drift (1.0.9). In order to move the Color Picker, it is now necessary to click on drag on the title bar (where it says "Color Picker"). Please re-open this ticket if you run into issues. Thanks!

[2021-01-17 22:06] #19 closed

[2021-01-17 22:08] jaredbwasserman commented on #20
I added some logic in the latest release of Drift (1.0.9) to verify position values it saves are not nil. I am hoping this fixes the bug. Please re-open this ticket if you see the bug again. Thanks!

[2021-01-17 22:08] #20 closed

[2021-06-01 09:23] BlueNightSky opened #21 "After installing the Retail version, the mission table cannot interact."
After installing the Retail version (v1.0.13), the covenant mission table cannot interact. :-(

Do not know why? So I can't send misson at all, very headache, I have to uninstall first.

[2021-06-01 17:41] jaredbwasserman commented on #21
Hi @BlueNightSky thanks for reporting the issue. When you tried to interact with the Covenant Mission Table, were any errors reported? Also, do you have any other AddOns that modify the Covenant Mission Table? I'm able to interact fine, so I'm not sure what could be causing the issue.

Can you try:
* `/console reloadui` to reload the UI and see if that fixes the issue
* `/drift reset` to reset Dri

[2021-06-19 11:16] johanruda opened #22 "Feature request - Minimap"
Any possibility we could have the minimap movable?
I'm playing on an ultrawide monitor and it's so far to the right... 😅

[2021-06-20 04:51] jaredbwasserman commented on #22
Hey @johanruda - I'll look into it. I think it should be doable.

[2021-06-23 08:06] jaredbwasserman commented on #22
@johanruda It turns out it's much more difficult to move the minimap in retail than in classic. Do you primarily play retail or classic (or both)?

[2021-06-23 08:41] johanruda commented on #22
I play both, but primarily classic TBC

Den ons 23 juni 2021 kl 10:06 skrev Jared Wasserman <
***@***.***>:

[2021-06-29 01:25] jaredbwasserman commented on #22
I'm testing the Minimap functionality. It seems to work in retail and classic. I'll probably release the update in the next few days.

[2021-06-29 23:08] uroshnor23 opened #23 "Weird bug with 9.1 patch"
Loading Drift in 9.1 causes  the left and right mouse buttons to not function correctly. No movement, no turning, can't even left-click on some things but can on others. Odd. I run a lot of addons, so I don't know if the problem is with 9.1 directly or perhaps an interaction with another addon.

Great addon, thanks for your efforts!

[2021-06-30 03:48] jaredbwasserman commented on #23
Hi @uroshnor23 - Sorry to hear that. I'm logging in now to see if I can reproduce this.

[2021-06-30 03:53] jaredbwasserman commented on #23
This issue is happening for me too. Thanks for reporting it. I'm working on figuring out the cause.

[2021-06-30 03:54] uroshnor23 commented on #23
Thanks! Let me know if you need any more information.

Sent from my iPhone

[2021-06-30 03:55] uroshnor23 commented on #23
Excellent! At least it wasn’t just me. :)

Sent from my iPhone

[2021-06-30 03:59] jaredbwasserman commented on #23
@uroshnor23 - It looks like the issue is one of the frames in the "Miscellaneous" category is causing the issue. It's possible a frame is taking up the entire screen and causing the clicks to not be registered. Can you disable "Miscellaneous" frames in the Drift options and let me know if that fixes the issue for you?

[2021-06-30 04:36] uroshnor23 commented on #23
Yep! That seems to have fixed it. I don’t think I ever used anything in that category anyway.

Thanks!

Sent from my iPhone

[2021-06-30 04:39] jaredbwasserman commented on #23
It turns out the problematic frame was "UIWidgetTopCenterContainerFrame" so I am removing it for the next version of the addon.

[2021-06-30 06:39] johanruda commented on #22
Fantastic! Thank you! :)
One more thing, the gem socketing window. You want me to make another request for that one?

[2021-06-30 07:37] jaredbwasserman commented on #22
The socket window should be movable. Are you unable to move it?

This is the frame you are referring to, right?
![WoWScrnShot_063021_003430](https://user-images.githubusercontent.com/5832654/123920829-362abb00-d93b-11eb-9553-87b0f92cc0bf.jpg)

[2021-06-30 12:25] Kalage commented on #23
I can confirm the same bug with this addon Drift with 9.1

I can also confirm I've had ongoing issues with drift on a few characters except my main with same bug for last month.

[2021-06-30 13:40] johanruda commented on #22
That is the frame, yes, but on TBC Classic. Double-checked just now and I can't move it.

[2021-06-30 17:11] jaredbwasserman commented on #22
Ah I see, I was thinking retail. Thanks for the clarification. I haven't added it yet for TBC. Can you create a separate request for socket frame in TBC?

[2021-06-30 17:15] jaredbwasserman commented on #23
Thanks for the info @Kalage - For the ongoing issues, I'm curious which frames you have enabled. Can you let me know how you have Drift configured in the Interface Options?

[2021-06-30 19:40] johanruda opened #24 "Feature request - Gem socketing window (TBC Classic)"
Please add! ^_^

[2021-07-01 01:09] webdevdave commented on #23
Just came to report this bug too... glad to see a fix and an updated release otw! :)

[2021-07-01 06:25] jaredbwasserman commented on #21
I'm going to go ahead and close this because it is not reproducible.

[2021-07-01 06:25] #21 closed

[2021-07-01 06:26] jaredbwasserman commented on #22
I just added Minimap in v1.0.14. Closing this out.

[2021-07-01 06:26] #22 closed

[2021-07-01 06:26] jaredbwasserman commented on #23
This bug should be fixed in v1.0.14.

[2021-07-01 06:27] jaredbwasserman commented on #24
@johanruda - I just added gem socket window for tbc classic in v1.0.14. I do not have any gear with socket, though, so I'm not able to test. Can you confirm it's working for you?

[2021-07-01 06:53] johanruda commented on #24
It's working perfectly! Thank you! 😁

[2021-07-01 07:56] #24 closed

[2021-07-07 00:40] #23 closed

[2021-11-10 20:53] lenoirrichelieu opened #25 "lua error 9.1.5"
Hi,
I keep having the following lua error

AddOns\Drift\DriftHelpers.lua:123: attempt to index local 'frame' (a nil value)
Count: 43

Call Stack:
[string "=[C]"]: ?
[string "@AddOns\Drift\DriftHelpers.lua"]:123: in function <AddOns\Drift\DriftHelpers.lua:99>
[string "@AddOns\Drift\DriftHelpers.lua"]:485: in function `ModifyFrames'
[string "@AddOns\Drift\Drift.lua"]:578: in function <AddOns\Drift\D

[2021-11-11 07:30] jaredbwasserman commented on #25
Hi @lenoirrichelieu - thanks for reporting this issue! I am able to reproduce it. At the moment, I do not know the cause, but it should be possible to disable the PlayerChoice frame to have the issue go away. Can you go to Interface -> AddOns -> Drift -> Options and make sure "Player Choice" is unchecked? Let me know if this does not fix the issue. When I get some time, I will look into adding a f

[2021-11-11 17:38] lenoirrichelieu commented on #25
Hi,
Thank you for the fast response. I did what you recommended and the error is gone it seems. I tested with other chars where I didn't move the QuestTracker before and it was OK.

[2021-11-12 05:59] jaredbwasserman commented on #25
Glad to hear the error is gone. Thanks for the extra information about QuestTracker!

[2021-11-13 06:50] jaredbwasserman commented on #25
This should be fixed with Drift v1.0.18.

[2021-11-13 06:50] #25 closed

[2021-11-21 08:22] lenoirrichelieu opened #26 "transmog frame"
Hi,
I found a bug related to the transmogrification window. When I open it (true, from Grand Expedition Yak) I have a separate background left which doesn't disappear after closing the window.

![image](https://user-images.githubusercontent.com/94080045/142754864-a9555fb4-8356-4a40-9ab3-3ee5196f391a.png)

When I disable Drift the bug disappears. I tried with "miscellaneous" option unchecked but th

[2021-11-22 06:53] jaredbwasserman commented on #26
Hi @lenoirrichelieu - Thanks for the bug report and detail! You're correct that it's related to Drift. I recently implemented a workaround for Collections, and this looks like it's related. I can reproduce the issue, and I will work on a fix.

[2021-11-23 07:18] jaredbwasserman commented on #26
@lenoirrichelieu - This should be fixed in Drift v1.0.21. Can you download the update and let me know if the issue is fixed on your end? Thanks!

[2021-11-25 12:17] lenoirrichelieu commented on #26
@jaredbwasserman - It is fixed. I checked on multiple chars with and without other addons enabled. I consider this issue closed.

[2021-11-25 23:36] jaredbwasserman commented on #26
Thanks for confirming!

[2021-11-25 23:36] #26 closed

[2022-01-02 01:52] Toetag1974 opened #27 "Problem"
Just re-downloaded this add on today after having deleted it months ago because of the fact that after a kill, a huge brown block pops up and obscures the center of the screen directly over the player character. the block easily takes up 1/3 of the screen
![WoWScrnShot_010122_195301](https://user-images.githubusercontent.com/74637048/147863983-46b70c10-85ca-4629-800b-a37d0110d207.jpg)
Before attac

[2022-01-02 05:31] jaredbwasserman commented on #27
Hi @Toetag1974 - Thanks for reporting this! Can you let me know what version of Drift you are running? You can get the version by running `/drift version`, and the latest version is `v1.0.21`. I suspect this bug is related to an older version of the addon because I recently put in a fix for a related issue.

[2022-01-02 06:36] Toetag1974 commented on #27
I downloaded it from WOWUP shortly before I put in this report, which lists it as v1.0.21.

[2022-01-02 22:00] jaredbwasserman commented on #27
Thanks for the information. I am not able to reproduce the issue on my end, but it's possible Drift is not compatible with some of the other addons you have installed. What are all the addons you have installed that modify the interface?

[2022-01-02 22:17] Toetag1974 commented on #27
The add ons I have are as follows:
AdvancedInterfaceOptions, Altoholic, AskMrRobot, Auctionator, Bartender4, BattlePetBreedID, BetterVendorPrice, Breakables, BtWQuests(all of them), BuyEmAll, CollectMe, CovenantForge, CovenantMissionHelper, DataStore, DBM, Details, Elvui(already checked if it was this), GatherMate2, GSE, HandyNotes(all of them), HideTalkingHead, WyredsIcyVeinsStats, Leatrix(maps&p

[2022-01-02 22:48] jaredbwasserman commented on #27
@Toetag1974 Thank you for the list. I will investigate when I have some time.

[2022-01-02 23:08] Toetag1974 commented on #27
No problem. Hopefully you can find out the problem. I enjoyed using your add on since it was a lot easier and better than the alternatives.

[2022-01-02 23:35] jaredbwasserman commented on #27
Can you also check if the problem happens if you disable all addons except Drift? That will help determine if it's caused by an interaction between addons.

[2022-01-03 03:23] Toetag1974 commented on #27
After disabling and re-enabling my add ons one by one, I have found that the add on that was causing the big block in the center of my screen was caused by the add on mountcollector. I have since removed it.

[2022-01-03 04:30] jaredbwasserman commented on #27
Sounds good! Is this OK to close then?

[2022-01-03 07:58] Toetag1974 commented on #27
yeah.

[2022-01-17 06:29] halloaloe commented on #27
I have also been having this issue with Drift. Been going on for months now. I can click thru the brown block if need be, but since I initially turned the addon off and on again, all my bags are collapsed on top of one another when the addon is on and I can't move them back to where I originally positioned them when the addon wasn't giving me problems. Yes, my version is 1.0.21. I do not have the

[2022-01-17 08:52] jaredbwasserman commented on #27
@halloaloe - Thanks for letting me know. I believe the two issues are unrelated.
For the brown block, I am not able to reproduce the issue, so it would help me to know more information. Can you disable all addons you have enabled except for Drift and see if the issue still occurs? This will help me determine if it's caused by Drift directly or for some other reason.
For the bag issue, I've done so

[2022-01-17 10:03] halloaloe commented on #27
I disabled all addons except Drift, logged in. No brown box upon mouse over of anything (which is usually what happens), but upon Shift B to open all bags, I was immediately given this:
Message: Interface\FrameXML\ContainerFrame.lua:1053: Action[SetPoint] failed because[SetPoint would result in anchor family connection]: attempted from: ContainerFrame2:SetPoint.
Time: Mon Jan 17 02:00:16 2022
Coun

[2022-01-17 10:08] halloaloe commented on #27
Followed your instructions within Drift's options. Bags are now back to how I set them--thank you! Should I check the Bags option again before re-enabling other addons a handful at a time? Or would you like me to wait before attempting anything else?

[2022-01-17 12:58] halloaloe commented on #27
Got brown box back upon hitting "U" then changing to reputation tab. Disabled the few addons I had turned back on, then slowly re-enabled, only for the brown box to pop up upon hitting "I" and clicking on PvP tab instead. Only addons I had turned on at the time: DBM, Drift, PetTracker and dependents, Reputation Bars, Soulshape Journal (highly doubt this is culprit, I've only had it a few days), To

[2022-01-17 23:16] jaredbwasserman commented on #27
Thank you for the investigation @halloaloe - I will download Soulshape Journal to look into why the conflict between these two addons is occurring. As for why the issue was occurring late last year, there is a chance it is related to an old version of Drift. I made some updates last November that may be related to the behavior you were seeing, although it would be difficult to confirm.

[2022-01-19 03:21] halloaloe commented on #27
After re-enabling all my addons and testing on several characters, I can only conclude the problem is Drift. Whenever Drift is disabled, there's no brown box, just the LUA errors I initially posted in my first comment (and my error sound going off whenever I open my bags). I disabled bags within Drift, clicked Ok, and now my bags "work" with no error sound, but still box upon mousing over anything

[2022-01-19 06:08] jaredbwasserman commented on #27
Interesting, thanks for the extra detail. I downloaded Soulshape Journal, and I am able to reproduce the issue. I have an idea of what is causing this, and I am working on a fix.

[2022-01-20 08:13] jaredbwasserman commented on #27
@halloaloe I updated the Drift code so the box no longer shows up. Can you download the attached zip file and test the update removes the box for you too? Inside the attached zip file is a Drift folder with the updated code. If you copy the Drift folder and replace the existing folder (most likely located in `C:\Program Files (x86)\World of Warcraft\_retail_\Interface\AddOns`) with this updated on

[2022-01-21 02:03] Toetag1974 commented on #27
I already have this file. Since deleting the add on that was causing the issue with the big brown block, I have had no other issues with Drift. Thank you for finding a solution.

    On Thursday, January 20, 2022, 02:13:59 AM CST, Jared Wasserman ***@***.***> wrote:

@halloaloe I updated the Drift code so the box no longer shows up. Can you download the attached zip file and test the update remove

[2022-01-21 15:36] halloaloe commented on #27
Apologies, I didn't notice this sooner. Used updated file. Enabled bags, did my checks: all good! No box, no errors, bags where I want them. Enabled SSJ; still no issues. I don't know what you changed, but THANK YOU. I can have my sanity back!

[2022-01-22 03:23] jaredbwasserman commented on #27
Thanks for confirming! I just released this fix as part of v1.0.22.

[2022-01-22 03:23] #27 closed

[2022-03-07 13:00] JyanseiCoding opened #28 "Feature Request - Arena Frames"
I was wondering if it was possible to add the arena health bars to the list of movable frames. By default, they're quite small and tucked to the side and hard to read in the middle of a hectic match.

There are, of course, arena frame addons I could use, but a lot of them are either outdated or no longer receiving updates.

Thank you for all your hard work!

[2022-03-08 07:58] jaredbwasserman commented on #28
Hi @JyanseiCoding - sure I will look into it! Do you mean the ones on the right-hand side under the Minimap?

![InkedWoWScrnShot_030722_231901_LI](https://user-images.githubusercontent.com/5832654/157192031-62f9cbe0-26e9-4991-8250-9c8ee2fd3fa6.jpg)

[2022-03-08 08:01] jaredbwasserman commented on #28
Also, are you playing on retail or BC classic?

[2022-03-08 08:02] JyanseiCoding commented on #28
Yep! Those are the ones.

My apologies for not specifying. I'm on retail.

[2022-03-12 04:40] jaredbwasserman commented on #28
Hi @JyanseiCoding - I got a solution working and could use your help to test it! This ended up being a bit tricky, and I was not able to get targeting to work while moving the Arena Frames is enabled. It will be possible to move and scale the Arena Frames, but if you try to click on one of the frames in order to target an enemy, it will not work.

Can you do the following:
1. Replace the contents

[2022-03-14 16:41] JyanseiCoding commented on #28
Just installed the update, and tried it out in a skirmish. Everything's working perfectly, aside from click-targeting, but it's not at all an issue. I mostly just wanted to be able to resize and adjust it for easier visual feedback, and the update achieves that perfectly!

Thank you so much Sir @jaredbwasserman ! And my apologies for the late response.

[2022-03-15 06:11] jaredbwasserman commented on #28
Great, thanks for confirming @JyanseiCoding ! I just released this update as part of Drift `v1.0.25`.

[2022-03-15 06:11] #28 closed

[2022-03-26 14:02] class2u opened #29 "Lua error when enable friendly nameplates in raid"
Hi,
Thank you for making this great addon. I get the following Lua error message when enable friendly nameplates inside the raid instance Sepulcher of the First Ones. This is happening after Hotfix in 22th March. I am using Drift v1.0.25-retail. The raid need to be larger then 25 people maybe.

22844x FrameXML\CompactUnitFrame.lua:1122: Attempt to access forbidden object from code tainted by an Ad

[2022-03-29 02:24] jaredbwasserman commented on #29
Hi @class2u - Thanks for reporting this bug and the details! I attempted to reproduce the issue by enabling friendly nameplates inside of a 25 man Sepulcher of the First Ones. I also attempted to reproduce the issue by enabling friendly nameplates in a raid group larger than 25 people for a world boss. In both cases, I was unable to reproduce the issue.

Drift does not modify nameplates at all, so

[2022-03-29 05:23] class2u commented on #29
Thank you for replying and testing. Last time I tested it with Drift, EaseAddonController, BugGrabber, BugSack, Ace3 and some shared libs. I did not get this Lua error after disabling Drift and keeping the others enabled.

I will test it again with Drift only when I am in raid.

[2022-03-30 00:16] class2u commented on #29
I tested with Drift only. Disabled all other addons. When enabling friendly nameplates in a 25 player raid, I got the same Lua error message. BTW, I am using zh-TW game client. Thank you.

[2022-03-30 03:08] jaredbwasserman commented on #29
Thanks for the additional testing and detail! I was able to reproduce the issue exactly as you have described. I am not sure why the error did not show up for me the first couple times I tested but did show up for me this time. I am also not sure the exact cause of the error. It will take me some time to investigate.

[2022-04-17 18:25] jaredbwasserman commented on #29
Attaching a taint log here for my own reference.
[taint.log](https://github.com/jaredbwasserman/drift/files/8502214/taint.log)

[2022-04-18 06:55] jaredbwasserman commented on #29
Attaching another taint log for reference.
[taint2.log](https://github.com/jaredbwasserman/drift/files/8504095/taint2.log)

[2022-04-18 08:00] jaredbwasserman commented on #29
Third taint log for reference.
[taint3.log](https://github.com/jaredbwasserman/drift/files/8504422/taint3.log)

[2022-04-19 07:49] jaredbwasserman commented on #29
These issues look like they could be the same bug:
https://github.com/Auctionator/Auctionator/issues/1133
https://github.com/Auctionator/Auctionator/issues/1136

[2022-04-19 07:53] jaredbwasserman commented on #29
This seems to have fixed the issue for Auctionator: https://github.com/Auctionator/Auctionator/commit/f59e54f2d41da0355d5666fd65fce3ef9d8e5ef2

[2022-04-19 08:00] jaredbwasserman commented on #29
This could be related too https://github.com/jordonwow/bigdebuffs/issues/367

[2022-04-19 08:12] jaredbwasserman commented on #29
These all look like the same issue too:
https://us.forums.blizzard.com/en/wow/t/uknown-ui-error/1221765
https://us.forums.blizzard.com/en/wow/t/ui-error-while-fighting-prototype-pantheon/1220618
https://us.forums.blizzard.com/en/wow/t/ui-error-while-fighting-prototype-pantheon/1220619
https://us.forums.blizzard.com/en/wow/t/lua-error-not-caused-by-addon/1210295/4

[2022-05-19 08:23] jaredbwasserman commented on #29
Hi @class2u - I was able to fix the bug on my end. It appears to have been caused by using dropdowns in the addon interface options. Can you use the attached version of Drift and let me know if it fixes the bug for you when enabling friendly nameplates inside the raid instance Sepulcher of the First Ones? Thanks!
[drift-v1.0.25-retail.zip](https://github.com/jaredbwasserman/drift/files/8727283/dri

[2022-05-19 08:51] class2u commented on #29
This is a great news! I have downloaded and will test it later.

[2022-05-20 09:14] #29 closed

[2022-06-01 18:05] webdevdave opened #30 "Trying to Join a Community"
![Screenshot 2022-06-01 140111](https://user-images.githubusercontent.com/56913415/171472295-e5c9e022-13da-4dbc-ba3c-43fbdc6a57e7.png)

So, whenever I am invited to a community in WoW, I would hear a noise like a window opened, but wouldn't see anything. After disabling ElvUI (I thought that might be the culprit) and trying again, this window popped up. Upon hitting "Disable" the community window

[2022-06-02 08:31] jaredbwasserman commented on #30
Hi @webdevdave - Thank you for letting me know about this bug and providing repro steps! I will investigate.

[2022-06-03 06:37] jaredbwasserman commented on #30
I was able to reproduce the issue by clicking a join community link. Posting the output from BugGrabber here.
[code]

[2022-06-04 01:43] webdevdave commented on #30
Nice, I'm glad you were able to figure it out. Hope to see an update soon!!! :)

[2022-06-06 02:18] jaredbwasserman commented on #30
Good news! I was able to fix the issue on my machine. @webdevdave - Can you try this attached version of Drift and let me know if it fixes the issue for you as well?
[drift-v1.1.0-retail.zip](https://github.com/jaredbwasserman/drift/files/8841392/drift-v1.1.0-retail.zip)

[2022-06-21 06:17] webdevdave commented on #30
Hey, so sorry that I took so long to get back to you!!! So, it seems that Drift is working now. When I had my friend help me test it by inviting me to his community a few times, Drift never came up with the error. Two other addons did, but I assume you wouldn't know what I could do to fix them. Them being
AddOnSkins
BetterWardrobe
If there is some sort of small hack I could try on them that you kn

[2022-06-22 07:37] jaredbwasserman commented on #30
Thanks for confirming Drift is working!

Unfortunately, I am not aware of any workarounds other than modifying the code of the addons themselves. I recommend disabling all addons except the one you are testing (e.g. AddOnSkins or BetterWardrobe), turning on the taint log ( https://wowpedia.fandom.com/wiki/CVar_taintLog ), and then seeing what the taint log shows after you click a link. It is possi

[2022-06-23 05:22] #30 closed

[2022-06-26 05:56] Teng3n opened #31 "Error with Drift in TBC Classic"
The first error seems to happen when I log on the second seems to happen whenever I open a changed frame.

`1x Interface_TBC\FrameXML\UIParent.lua:2208: Action[SetPoint] failed because[SetPoint would result in anchor family connection]: attempted from: FriendsFrame:SetPoint.
[string "=[C]"]: in function `SetPoint'
[string "@Interface_TBC\FrameXML\UIParent.lua"]:2208: in function `UpdateUIPanelPosi

[2022-06-26 19:21] jaredbwasserman commented on #31
Hi @Teng3n - thanks for reporting this issue! Unfortunately, I was unable to reproduce these error messages. It is possible your interface got into a bad state. Can you do a couple things:
1. Try to reset the interface. Instructions to reset the interface are here https://us.battle.net/support/en/article/7549
1. Send me a screenshot of your Drift settings. For example, these are my settings:
![dri

[2022-07-07 00:08] Teng3n commented on #31
Hello Jaredbwasserman/Drift!

Thank you for the reply, sorry for taking so long to get back to you. I use
quite a few addons and resetting isn't really an option. I will say that
the error only seems to happen on the initial load and goes away after
reloading addons. When I have more time, I will try to disable and reenable
one addon at a time to see if I can figure out which, if any, is
causing i

[2022-07-07 06:39] jaredbwasserman commented on #31
Interesting, thanks for the detail! If you let me know all the addons you are using, I can investigate as well.

[2022-07-08 06:00] jaredbwasserman commented on #31
Thanks for the repro steps! I will investigate.

[2022-07-11 17:05] Teng3n commented on #31
Hello again! I wanted to add something I hadn't noticed before but it's also happening with the 'CharaterSheet' window as well. Same issue as previously mentioned just not only happening on the social window

[2022-07-18 06:17] jaredbwasserman commented on #31
I started to investigate this issue, and I am able to reproduce it with both the Social frame and the Character frame as you have described. Unfortunately, I am not quite sure why it's happening yet.

[2022-07-26 00:55] Teng3n commented on #31
Hey! Thank you for the update! I'm glad you're able to reproduce it and
it's not just me. Let me know if you need further testing assistance.

On Sun, Jul 17, 2022 at 11:17 PM Jared Wasserman ***@***.***>
wrote:

[2022-08-08 06:28] jaredbwasserman commented on #31
Hello @Teng3n - I was able to fix the errors on my end! Can you try the attached (modified) version of Drift and let me know if the errors are fixed for you as well?
[drift-v1.1.1-bcc.zip](https://github.com/jaredbwasserman/drift/files/9279257/drift-v1.1.1-bcc.zip)

[2022-08-27 10:54] michel-bosseaux opened #32 "Broken in 9.2.7"
Some of the windows cannot be dragged anymore since 9.2.7, like "Talking Heads".

[2022-08-27 16:01] jaredbwasserman commented on #32
Thanks for letting me know! I will take a look.

[2022-09-04 08:08] WybeBosch opened #33 "Support for WoWup"
Hey there!
Would it be possible that you would modify your Zip File releases in such as way that WoWup can be used to install your addon? (They have support for synced updates via github url)

Only thing that needs to be changed i think is some folder structure within your zipfile!

Documentation found here
[Folder structure](https://wowup.io/guide/wowup/hub)
[Install from URL using WoWUp](https:/

[2022-09-06 04:30] jaredbwasserman commented on #32
@michel-bosseaux - I have not noticed any issues with windows in 9.2.7. I am able to move the Talking Head frame fine. Do you have any other addons installed that may be interfering? Could you attach a screenshot of your addon settings for Drift (Interface -> Addons -> Drift)? Thanks!

[2022-09-06 04:36] jaredbwasserman commented on #33
Hi! Thanks for the information! I will look into this when I have some time.

[2022-09-06 08:06] WybeBosch commented on #33
Awesome, thanks for looking into it when you have time!

[2022-09-11 02:32] jaredbwasserman commented on #33
I just added Drift to Wago ( https://addons.wago.io/addons/drift ), and I was able to install locally using WoWUp. Can you confirm you can install Drift using WoWUp as well?

[2022-09-19 07:15] WybeBosch commented on #33
Very nice! Yes i can find the addon when using the WoWup client now under the Wago provider, and installing works succesfully aswel!

[2022-09-20 06:47] #33 closed

[2022-10-05 15:13] zuep opened #34 "Cant move character sheet in wotlk classic"
pretty much the title. i can change the size of the character sheet but i cant move it.

moving works with all my other windows i tested so far: talents, spellbook, questlog, social

[2022-10-06 08:01] jaredbwasserman commented on #34
Hi @zuep - Thanks for letting me know. Unfortunately, I am not able to reproduce this issue on my end. Do you have any other addons installed that modify the character sheet?

[2022-10-06 11:04] zuep commented on #34
hi @jaredbwasserman: yeah i am using a couple of addons.

Most likely it could be ElvUI which is causing the trouble. I'll test it later and comment here again as soon as i am online. :)

[2022-10-06 15:00] zuep commented on #34
hi @jaredbwasserman: i disabled every othher addon and could move my character sheet again. :)

after enabling the other addons one by one i could identify "RestedXP Guides" as the problematic addon. Hope this helps!

[2022-10-07 05:30] jaredbwasserman commented on #34
Interesting, thanks for investigating! I will take a look at RestedXP Guides and see what is occurring.

[2022-10-08 07:58] jaredbwasserman commented on #34
Hi @zuep - I investigated this a bit. Unfortunately, I cannot think of a way to modify Drift code to fix compatibility with RestedXP Guides. The good news, though, is there is a workaround so you can use so it's possible to move the character sheet. If you comment out line `430` of the file `LevelingTracker.lua` (inside the `RXPGuides` folder):
[code]
that should fix the issue. It will make it so

[2022-10-24 05:25] jaredbwasserman commented on #32
Closing this out since I cannot reproduce.

[2022-10-24 05:25] #32 closed

[2022-10-24 05:27] jaredbwasserman commented on #34
Closing this out since it's a compatibility issue between Drift and Rested XP Guides. The workaround to comment out a line in RXPGuides is the best I can think of.

[2022-10-24 05:27] #34 closed

[2022-10-28 21:18] MrWizard516 opened #35 "Broken as of patch 10.0"
Since the release of patch 10.0, it works but yet doesn't work. What I mean is that yes it works as intended but due to the changes in the UI for this patch, it prevents you from saving your UI changes through the new interface. Doing so merely saves some changes not all. However, disabling the addon allows you to save and restore all custom changes.

[2022-10-29 04:50] webdevdave commented on #35
Hoping to have Drift back in shape soon! One of my favorite addons. No other UI Move addon can compete!

[2022-10-29 23:06] jaredbwasserman commented on #35
Thanks for letting me know. I am working on a fix.

[2022-10-31 06:17] jaredbwasserman commented on #35
This should be fixed in the latest version of Drift (v2.0.0). Please re-open if you're still experiencing issues.

[2022-10-31 06:17] #35 closed

[2022-10-31 10:31] Mard35 opened #36 "Breaking WOTLK version"
"Remove support for minimap, objectives, bags, arena"
Why did you do that for WOTLK version???? Are you kidding?
WHY are you making updates for retail which breaking the wotlk version? It's so dumb! Don't touch it please, just don't!

[2022-10-31 15:06] drixlow commented on #36
Yeah not too sure in the logic behind this latest update, sticking with v1.2.0 is likely the best bet at this point.

[2022-10-31 15:47] jaredbwasserman commented on #36
Good point. I was going for consistency, but considering the games are different, it makes sense to leave in the existing functionality for classic and Wrath classic. I will add those frames back.

[2022-11-01 03:00] webdevdave opened #37 "Bags Not Movable"
Hey man!
If you remember me, I'm the guy who has always been so happy that you've managed to make bags movable. Well, it seems with your recent update I'm unable to move them. Hoping you can add it back in! It was my favorite feature of Drift! 🤞

Thanks!!!

[2022-11-01 04:27] jaredbwasserman commented on #37
Hi @webdevdave - Thanks for letting me know. Given the recent UI update in retail, I need to rethink how to implement Bags. I'll look into this when I get some time.

[2022-11-02 01:46] webdevdave commented on #37
I wonder what their deal with bags is? I really expected them to be movable in the new UI design they just put out (I believe you mentioned you used to work at Blizz... any insight?). But thanks, hopefully you can figure it out!

[2022-11-03 02:01] halloaloe commented on #37
Popped in to 2nd the comment: I love Drift for the ability to move bags around. I was hoping Blizz would make that option available with their new UI, but since no dice, I continue to rely upon your wonderful addon. Please please please make that function available again.

[2022-11-03 19:23] Aur0r4 opened #38 "Make VehicleSeatIndicator and DurabilityFrame moveable"
Hello,

I was coming over here from MoveAnything. I really like Drift so far, the only thing that I'm missing right know is the ability to move the Vehicle Seat Indicator and the durability figure.

Any chance that you can implement that?

![image](https://user-images.githubusercontent.com/28149249/199815107-31252f7b-e899-47c0-90e3-efa896eb9ae9.png)

cheers,
Aur0r4

[2022-11-03 20:02] webdevdave opened #39 "Mail Windows"
Using ElvUI so not sure if that has any bearing... but when I open my mailbox, the **Inbox/Send** windows are not movable. When I try and move it it kinda freaks out, goes blank, and then all the text in it disappears. Here are before/after screenshots of trying to drag the inbox...

BEFORE:
<img src="https://i.ibb.co/pL7Lf9x/before.png" alt="before" border="0">

AFTER:
<img src="https://i.ibb.co/

[2022-11-04 08:04] jaredbwasserman commented on #38
Hi @Aur0r4 - Yes, this should be possible.

[2022-11-04 08:06] jaredbwasserman commented on #39
Hi @webdevdave - Thanks for letting me know. My guess is it is likely related to ElvUI. I will need to investigate further.

[2022-11-04 09:07] Aur0r4 commented on #38
Thank you!

[2022-11-05 05:39] jaredbwasserman commented on #36
I restored minimap, objectives, bags functionality in v2.1.0. The ArenaFrame was retail only, so v2.1.0 will have all the previous functionality plus a couple bug fixes.

[2022-11-05 05:39] #36 closed

[2022-11-05 05:40] jaredbwasserman commented on #37
Bags restored in Drift v2.1.0. Enjoy!

[2022-11-05 05:40] #37 closed

[2022-11-05 07:09] webdevdave commented on #37
You da man! Downloading now! Thank youuuuuu! <3

[2022-11-05 12:42] Tyrsa78 opened #40 "Objective Tracker"
Came here from Moveanything, love this addon sofar. Does everything I want but I'd love to be able to scale the Objective Tracker. The new Blizz Edit Mode allows it to move but I can't scale it down. The lettertype is too big for me, I'd like it smaller. Any chance you can make this possible? I play Retail.

[2022-11-05 16:58] jaredbwasserman commented on #40
Yes, this should be possible.

[2022-11-05 18:03] Tyrsa78 commented on #40
Thank you so much! I appreciate your hard work.

[2022-11-06 11:53] halloaloe opened #41 "Drift vs Blizz Function?"
When Drift is on, and all bags are open, I can't click to use items like the brew of the month bottle or a hearthstone; I get the error message that Drift is blocking a Blizz UI function and the option to ignore or disable. If the bag containing said items is solely open, then they work fine. When Drift is off, and I'm trying to open all bags at once (which doesn't happen, they all pile on top of

[2022-11-06 17:46] jaredbwasserman commented on #41
Hi @halloaloe - Thanks for the detailed bug report!
1. For the first issue, where Drift is blocking a UI function, that is definitely a bug. I will investigate and try to fix it.
2. For the second issue (`Action[SetPoint] failed...`) I have looked into this before and do not have a great solution at the moment. A workaround you can use to prevent the issue, though, is disable Bags in Drift prior t

[2022-11-08 20:07] Aur0r4 commented on #38
You could also add "PlayerPowerBarAlt":

![image](https://user-images.githubusercontent.com/28149249/200664413-74da0a04-3649-4f0d-8a8b-3fad0e1e8e14.png)

I've added it manually and it seems to work fine so far but I'm not sure if this is the same-bar that appears in some bossfights.

[2022-11-11 03:38] halloaloe commented on #41
Also noticing that when Drift is on, the backpack doesn't show up, whether opened by itself or with Shift B. I hear it open/close & see the indicator light on the icon, but it is just a blank spot where I've arranged my bags. I'm now having to turn off Drift to use my hearthstone (it's stored in the backpack) lol

[2022-11-11 21:42] derekengel opened #42 "Drift Conflict with Shadowed Unit Frames"
I'm not sure if it's a conflict with Drift and Shadowed Unit Frames or Shadowed Unit Frames causing the problem.  When Shadowed Unite frames is enabled, I cannot single click any NPC or PC.  If I try to right click to turn my camera angle, it uses the resize option to resize my player frame.

[2022-11-16 04:55] cbcatanz opened #43 "Since the patch on 11/15/2022 the addon doesn't seem to be working"
Like the title states, nothing seems to be working since the latest patch. I cannot move or resize anything. Also, I can't open my bags with the addon enabled.

[2022-11-18 02:44] halloaloe commented on #43
Same here. Had to turn off the mod to silence the error messages

[2022-11-19 10:22] Aur0r4 opened #44 "SettingsPanel conflict with World Quest Tracker"
Hello,

I think I've found a bug that seems to be related to my Drift configuration in combination with the AddOn World Quest Tracker:

I've tested this with a clean Interface and WTF folder, only Drift and World Quest Tracker are installed:

When you have changed position of 'SettingsPanel' AND World Quest Tracker is enabled, then you are not able to bind mouse-buttons like middle button to anyth

[2022-11-19 10:23] Aur0r4 commented on #43
The AddOn is working fine for me with 10.0.2 patch, have you guys tried to reset the AddOn profile in the SavedVariables folder?

[2022-11-19 23:17] webdevdave commented on #41
Just came to report basically the same issue. When r-clicking items in my bags to use them, I get this popup...

![right-click-items-in-bags](https://user-images.githubusercontent.com/56913415/202875237-67da6905-5739-4958-bd31-fffb6531508a.png)

The main reason I love Drift so much more than similar addons is because its ability to position bags, so I'm really hoping you can get this fixed! I'm si

[2022-11-23 01:13] cbcatanz commented on #43
Thanks for the suggestion. I tried that. The addon is still not working for me. I know the last patch broke a lot of addons. Hopefully, this one will get an update for the newest patch soon.

[2022-11-29 08:28] jaredbwasserman commented on #43
@cbcatanz or @halloaloe - Can you provide a sample error message?

[2022-11-29 08:30] jaredbwasserman commented on #44
Hmm, that is a really interesting bug. Thank you for the thorough investigation! I'll take a look.

[2022-11-29 08:32] jaredbwasserman commented on #42
Interesting, there might be some hidden frames receiving clicks. I'll need to investigate further.

[2022-11-29 19:07] halloaloe commented on #43
Ok: Drift is on, Bags Enabled. Had all bags open, adjusted to where I wanted them, and they were FULL. Tried to click on an item in the bottom right-hand corner of the Backpack itself. Got this:
21x [ADDON_ACTION_FORBIDDEN] AddOn 'Drift' tried to call the protected function 'UNKNOWN()'.
[string "@!BugGrabber/BugGrabber.lua"]:480: in function <!BugGrabber/BugGrabber.lua:480>
[string "=[C]"]: ?
[str

[2022-11-29 21:15] Aur0r4 commented on #43
I'm not the author and I may be wrong but isn't that error pointing to an BugGrabber function that is failing here? I would try to update BugGrabber and test again.

[2022-11-29 23:34] BloodDragon2580 commented on #42
I have the same problem

[2022-11-30 05:19] halloaloe commented on #43
@Aur0r4 I have the most recent version of BugGrabber, which hasn't been updated itself since Nov. 14th.

[2022-11-30 07:28] jaredbwasserman commented on #39
This is fixed in Drift v2.1.1.

[2022-11-30 07:28] #39 closed

[2022-11-30 07:32] jaredbwasserman commented on #41
I fixed all the bag issues in Drift v2.1.1. Also, I was able to make it so that disabling Drift no longer causes issues (no more need to disable Bags before disabling Drift altogether - Drift can be toggled on/off with Bags enabled). Please re-open this ticket if I missed something.

[2022-11-30 07:32] #41 closed

[2022-11-30 07:36] jaredbwasserman commented on #43
Thanks, everyone, for all this info. I fixed all the Bag-related issues I could find in Drift v2.1.1. Please re-open this ticket if there are still issues following the update.

[2022-11-30 07:36] #43 closed

[2022-11-30 09:33] BloodDragon2580 commented on #42
I could find out that the bug with shadowunitframes is related to the scale option. If you remove the scaling at drift everything works without problems.